<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
 <title>zaritalk</title>

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
<!-- <div th:replace="fragments/bodyHeader :: bodyHeader" />-->
 <div class="jumbotron">
 <h1>자리톡 커뮤니티 목록</h1>
 <p class="lead">회원 기능</p>
 <p>
 <a class="btn btn-lg btn-secondary" href="/join">회원 가입</a>
  <a class="btn btn-lg btn-secondary" href="/user/write">글쓰기</a>
 </p>

 </div>
 
 <div id="toolbar">
            <button id="button" class="btn btn-default">Delete</button>
        </div>
		<div class="row-fluid" style="padding-left:100px;">
			<div class="span8">
				<table id="table" class="table table-striped">
					<colgroup>
						<col style="width: 80px;">     <!--id-->
						<col style="width: 200px;"/>   <!--email-->
						<col style="width: 80px;"/>    <!--enabled-->
						<col style="width: 160px;"/>   <!--createDT-->
					</colgroup>
					<thead>
					<tr>
						<th>이름</th>
						<th>이메일</th>
						<th>나이</th>
						<th>권한</th>
					</tr>
					</thead>
				    <tr class="link_btn" th:each="user : ${users}">
						<td style="text-align: left;" th:text="${user.username}">
							<a th:href="@{/user/${user.username}}">회원 등록</a>
						</td>
						<td style="text-align: left;" th:text="${user.email}"></td>
						<td style="text-align: left;" th:text="${user.age}"></td>
						<td style="text-align: left;" th:text="${user.userRoles}"></td>
				    </tr>
				</table>
				<div style="text-align:center;">
				<p><a class="btn btn-primary btn-large" style="margin:10;" th:href="@{/account/register}">회원 등록</a></p>
				</div>
 			</div>
		</div>
		
</body>
</html>
<!-- <div th:replace="fragments/footer :: footer" />-->

</div> <!-- /container -->