server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/security?serverTimezone=Asia/Seoul
    username: cos
    password: cos1234
    
  jpa:
    hibernate:
      ddl-auto: update #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    
  security:
    oauth2:
      client:
        registration:
          google: # /oauth2/authorization/google 이 주소를 동작하게 한다.
            client-id: 365593300100-3ttlca2j198jpc6lr3v4luc84o7gahgm.apps.googleusercontent.com
            client-secret: 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
            scope:
            - email
            - profile
            
  facebook:
    client-id:
    client-secret:
    scope:
    - email
    - public profile
    
    
    naver:
     client-id:htghxb0Uip50vz6twKLC
     client-secret:MJRTzZ2D5D
     scope:
     -name
     -email
     client-name:Naver
     authorization-grant-type:authorization_code
     redirect-uri:http://localhost:8080/login/oauth2/code/naver
   
     provider:
      naver:
       authorization-uri:https://nid.naver.com/ouath2.0/authorze
       token-uri:https://nid.naver.com/oauth2.0/token
       user-info-uri:https://openapi.naver.com/v1/nid/me
       user-name-attribute:resposne 
       
       
